<!DOCTYPE html>
<html>

<head>
	<title>
NowFellows Philosophy
	</title>

</head>
<body>

<header> 

<a> href='href='https://www.youtube.com/'> 
<img src="http://www.smartphonefrance.info/news/SPF2014010804.png" width="20" height="20"/> </a>


	<div id="BarreDeRecherche">

		<label for="Utilisateur">Rechercher</label>
		<input type="text" id="Utilisateur"  />


		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/490px-Magnifying_glass_icon.svg.png" alt="Image loupe" width="20" height="20" />


<img src="https://maxcdn.icons8.com/Share/icon/p1em/User_Interface//upload1600.png" alt=" Image Upload" width="20" height="20" />

<img src="https://t4.ftcdn.net/jpg/00/35/52/73/240_F_35527309_tIGX3XmzpoDCK7S5cItxvK4OGhmMmQCW.jpg" alt="ConnectButton"  width="20" height="20"/>


<!-- ✅ Logo |  ✅ Image Youtube | ✅ LABEL/ Image barre de recherche ❌ ✅ | Image loupe  | Image Upload | Image connexion -->


</header>

<div id="Blackbox"> 
	<div>
<iframe width=100% 	height="315" 
src="https://www.youtube.com/embed/w8HdOHrc3OQ">
</iframe>


	</div>

</div>

	

<div id="main"> 
Test

<div> <!-- class ColonneGauche float: gauche -->   
<div> <!-- class présentation -->
</div>

<div> <!-- class Description -->
</div>

<div> <!-- class Commentaires -->
</div>

</div>

<div> <!-- ColonneDroite float: right --></div>
 </div>

</body>
</html>

